/* Main container */
.signup-container {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #006f70, #00bcd4);
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 650px;
    padding: 20px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

/* Box */
.signup-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}

/* Heading */
.signup-box h2 {
    font-size: 2rem;
    color: #ff7e5f;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Input field */
.input-field {
    margin-bottom: 20px;
    text-align: left;
}

.input-field label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-field input {
    width: 100%;
    padding: 12px 16px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
    outline: none;
}

.input-field input:focus {
    border-color: #2575fc;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

/* Buttons */
.signup-button {
    background-color:#ff7e5f;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.signup-button:hover {
    background-color: #ff7e5f;
    transform: scale(1.05);
}

.login-link {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #555;
}

.login-button {
    background-color:#ff7e5f;
    color: #2575fc;
    border: 1px solid #2575fc;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color:#ff7e5f;
    color: #fff;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
